@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body{
 background-color:#4f85c2;  
    
    
    
}
.text{
    color: transparent;
    background-color:#99c3f2;
    width:200px;
    height:20px;
    font-size: 100%;
    position:relative;
    left:40%;
    font-family: 'Ubuntu', sans-serif;
}

.text:hover{
    height:300px ;
    color:white;
}

h1{
    color: white;
    position:relative;
    left:40%;
    font-family: 'Ubuntu', sans-serif;
    
    
}